{% extends "layout.html" %} {% block title %}home page{% endblock %} {% block
body %}

<link rel="stylesheet" href="{{ url_for('static', filename='top.css') }}" />

<div class="container mt-5">
  <h1 class="text-center">Welcome to the Alumni Association</h1>
  <p class="text-center">
    Connect with your fellow alumni and stay updated on events and activities.
  </p>

  <!-- Features Section -->
  <div class="row mt-4">
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Networking</h5>
          <p class="card-text">
            Connect with alumni and build your professional network.
          </p>
          <a href="/alumni" class="btn btn-primary">View Alumnis</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Events</h5>
          <p class="card-text">
            Stay updated on alumni events, reunions, and activities.
          </p>
          <a href="/events" class="btn btn-primary">View Events</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Resources</h5>
          <p class="card-text">
            Access resources and opportunities for alumni.
          </p>
          <a href="/resources" class="btn btn-primary">Explore Resources</a>
        </div>
      </div>
    </div>
  </div>

  <h2>Upcoming Events</h2>
  <ul>
    {% for event in upcoming_events %}
    <li>
      <a href="/events"><strong>{{ event.title }}</strong> - {{ event.date.strftime('%d %B %Y') }}</a>
    </li>
    {% endfor %}
  </ul>

  <h2>Top Reviews</h2>
  <div class="reviews-container">
    {% for review in reviews %}
    <div class="review-card">
      <div class="review-header">
        <img
          src="{{ url_for('static', filename=review.member_image_path) }}"
          alt="Profile Picture"
          class="profile-pic"
        />
        <div class="review-info">
          <p class="review-name">{{ review.name }}</p>
          <p class="review-stars">
            {% for _ in range(review.stars) %}
                ⭐
            {% endfor %}
        </p>
        </div>
      </div>
      <p class="review-text">{{ review.review_text }}</p>
      <p class="review-date">{{ review.created_at.strftime('%d %B %Y') }}</p>
    </div>
    {% endfor %}
  </div>

  <!-- Read More Button -->
  <div class="text-center mt-4">
    <a href="{{ url_for('views.reviews') }}" class="btn btn-primary"
      >Read More Reviews</a
    >
  </div>

  {% endblock %}
</div>
